@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Montserrat&family=Roboto:wght@300&display=swap');

body{
  max-width:1600px;
  font-family:roboto;
  margin:16px;
}

header, footer{
  background-color:#c2c5aa;
  color:white;
  padding: 16px;
  text-align:center;
  border-radius: 20px;
  font-size: 1.5em;
}

div{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top:3%;
  padding-bottom:3%;
}

header{
  box-shadow: 5px 5px 10px #6f7364;
}

section{
  border:.1em solid #6f7364;
  margin:20px;
  background-color:#aac2c5;
  color:black;
  font-size: 1.5em;
  border-radius:2rem;
  box-shadow: 5px 5px 15px #6f7364;

}

h3, p{
  text-align:center;
}

img{
  width:100%;
  align-items:center;
}