@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
body{
  /* max-width:1600px; */
  font-family: 'Nanum Gothic', sans-serif;
}
/* 
header{
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  background-color: rgba(93,104,89,255);
  color: black;
  border-radius: 5px;
} */
header{
  display:grid;
  justify-content: center;
  background-color: rgba(93,104,89,255);
  color: black;
  border-radius: 5px;
}
.chamberName{grid-row:2/3; grid-column: 1/2; text-align:center;}
#hamBtn{grid-row:3/4; grid-column: 1/2;}
#primaryNav{grid-row:4/5; grid-column: 1/2;}
.facebook{grid-row:5/6; grid-column: 1/2;}
.linkd{grid-row:6/7; grid-column: 1/2; margin:10px;}
#currentDate{grid-row:7/8; grid-column: 1/2; text-align:center; margin-top: 20px; margin-bottom: 10px;}

.numOfVisits{
  grid-row:3/4;
  grid-column:2/3;
}

.logo{
  max-width: 8rem;
  margin:auto;
}
header a{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}


/* This is all for the nav */
nav{
  display: grid;
  grid-template-rows: 1fr;  
  margin: 1em;
}
nav ul{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin:0;
}
nav button{
  margin: .2rem 2vw;
  background: transparent;
  border:none;
  font-size: 2rem;
  color: black;
}
nav ul li a{
  display:block;
  padding: .8rem 2vw;
  text-decoration: none;
  color: black;
}
nav ul li a:hover{
  transition:.1s;
  background-color: rgba(112, 130, 62, 0.57);
}
nav ul li.active a{
  background-color: rgba(0,0,0,0.2);
  color: #fff;
}
nav ul {
  display: none;
}
nav ul.open{
  display:block;
}
#hamBtn span:nth-child(1){display:block;}
#hamBtn span:nth-child(2){display:none;}

#hamBtn.open span:nth-child(1){display:none;}
#hamBtn.open span:nth-child(2){display:block;}
/* This is all for the nav*/

.sociallinkedin{
  width: 50px;
}
.social{
  width: 90px;
}

main section{
  height: 100%;
  margin:10px;
  padding: 3%;
  background-color: rgba(229,227,213,255);
  border-radius: 10px;
}
main section p{
  padding:5%;
  font-size: 18px;
}
.spotlight3{
  display: none;
}
.spotlightSection{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.spotlightSection p{
  height: 100px;
  margin:3%;
  border: 5px solid rgb(186, 184, 172);
}

main .join{
  display:none;
}

footer{
  background-color: rgba(93,104,89,255);
  border-radius: 5px;
  text-align: center;
  padding:3%;
  font-size: 20px;
}

.bottomSection{
  border-top: 1px solid black;
}
/* .hero{
  width:100%;
} */

.discoverImg{display:block; width: 75%; margin: auto; border-radius: 10px; margin-bottom: 120px;}

.imgP{text-align: center;}

.responsive{width:100%;}

.hero_section{
  position:relative; 
  z-index:0;
}