@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
body{
  /* max-width:1600px; */
  font-family: 'Nanum Gothic', sans-serif;
}
.joinBtn{
  background-color: black;
  color: white;
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 5px;
}
.joinBtn:hover{
  text-decoration: underline;
  cursor: pointer;
}

#weather-icon{
  width:30%;
}

/* 
header{
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  background-color: rgba(93,104,89,255);
  color: black;
  border-radius: 5px;
} */
header{
  display:grid;
  justify-content: center;
  background-color: #bacbb4;
  color: black;
  border-radius: 5px;
}
.chamberName{grid-row:2/3; grid-column: 1/2; text-align:center;}
#hamBtn{grid-row:3/4; grid-column: 1/2;}
#primaryNav{grid-row:4/5; grid-column: 1/2;}
.facebook{grid-row:5/6; grid-column: 1/2;}
.linkd{grid-row:6/7; grid-column: 1/2; margin:10px;}
#currentDate{grid-row:7/8; grid-column: 1/2; text-align:center; margin-top: 20px; margin-bottom: 10px;}

.numOfVisits{
  grid-row:3/4;
  grid-column:2/3;
  margin: 0 0 20px 0;
}

.logo{
  max-width: 8rem;
  margin:auto;
}
header a{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}


/* This is all for the nav */
header, nav{
  display: grid;
  grid-row:3/4;
  grid-template-rows: 1fr;  
  margin: 1em;
}
nav ul{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin:0;
  font-size:20px;
}
nav button{
  margin: .2rem 2vw;
  background: transparent;
  border:none;
  font-size: 2rem;
  color: black;
}
nav ul li a{
  display:block;
  padding: .8rem 2vw;
  text-decoration: none;
  color: black;
}
nav ul li a:hover{
  transition:.1s;
  background-color: rgba(112, 130, 62, 0.57);
}
nav ul li.active a{
  background-color: rgba(0,0,0,0.2);
  color: #fff;
}
nav ul {
  display: none;
}
nav ul.open{
  display:block;
}
#hamBtn span:nth-child(1){display:block;}
#hamBtn span:nth-child(2){display:none;}

#hamBtn.open span:nth-child(1){display:none;}
#hamBtn.open span:nth-child(2){display:block;}
/* This is all for the nav*/

.sociallinkedin{
  width: 50px;
}
.social{
  width: 90px;
}

main section{
  margin:10px;
  padding: 3%;
  background-color: rgba(229,227,213,255);
  border-radius: 10px;
}
main section p{
  font-size: 18px;
}
.spotlight3{
  display: none;
}
.spotlightSection{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.spotlightSection p{
  padding:1rem;
  font-size:22px;
  margin:0px;
  font-weight:bold;
}

.news p, a{
  font-size:22px;
  font-weight:bold;
}

main .join{
  display:none;
}

footer{
  background-color: #bacbb4;
  border-radius: 5px;
  text-align: center;
  padding:3%;
  font-size: 20px;
}

.bottomSection{
  border-top: 1px solid black;
}
/* .hero{
  width:100%;
} */

/* Discover Page */

.discoverDiv{
  background-color: rgba(229,227,213,255);
  grid-template-columns: 1fr 1fr;
  display:flex;
  margin: 1rem;
  padding: 1rem;
}

.discoverImg{
  width:50%;
  height:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.imgP{
  padding:1rem;
  float:right;
  text-align: center;
}

.responsive{width:100%;}

.hero_section{
  position:relative; 
  z-index:0;
}

/* Join page */

input, select, textarea{padding:1rem;}

.join h1{padding-left:2rem;}

.join{display:block;}

form fieldset{
  border-radius: 10px;
  border: 3px solid #bacbb4;
  margin: 2rem;
  padding: .5rem 2%;
}

form legend{
  margin: 0 1rem;
  padding: 0 .5rem;
}

form label.top, form div{
  display: block;
  padding: 1rem;
}

form label.sbs{
  display: block;
  padding: .75rem 0;
  color:#555;
  cursor: pointer;
}

.fs1 label input{
  border: 1px solid black;
  border-radius: 5px;
}
form input.submitBtn{
  display: block;
  border: none;
  background-color: #9c2c13;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin:0 auto 2rem auto;
  width:96%;
  max-width:20rem;
}
form input.submitBtn:hover{
  background-color: #7b220e;
  cursor: pointer;
}

form label.top input:required{
  border-left: red solid 6px;
}
form label.top input:required:valid{
  border-left: green solid 6px;
}

/* Table in join page */
table{
  margin: 10px auto;
  border-collapse: collapse;
}

td{
  text-align:center;
}

tbody tr{
  font-size:larger;
  font-weight:bold;
}

th, td{
  border: 3px solid #bacbb4;
}

thead tr:nth-child(even) th{
  padding: 10px;
  color:black;
  background-color:#bacbb4;
}

th{
  padding:10px;
  color:blakc;
  font-size: larger;
  background-color:#bacbb4;
}

tbody tr:nth-child(even){
  background-color: #bacbb4;
}

tbody tr td{
  padding-left:10px;
  padding-right: 10px;
}

thead tr td{
  background-color: #bacbb4;
}

/* Thanks page */
.thanks{display:block; padding: 2rem;}

.thanks p{
  background-color: lightgray;
  padding:10px;
  border-radius: 10px;
  font-size:1.3rem;
}

/* Directory */

.directBtn{
  display: flex;
  justify-content: center;
  gap:1em;
}

#gridBtn, #listBtn{
  cursor: pointer;
  text-align: center;
  width: 100px;
  height: 80px;
  background-color: rgba(229, 227, 213, 255);
  border:none;
  border-radius: 10px;
  margin: 1rem 0 1rem 0;
  font-size: 18px;
  transition:.3s;
}
#gridBtn:hover, #listBtn:hover{
  transition: .2s;
  background-color: rgb(209 206 181);
}

h2{text-align:center;}

.grid .cards{
  display:grid;
  grid-template-columns: 1fr;
  gap:1rem;
}

.list{
  display:flex;
  flex-direction: column;
}

.list .cards{
  margin-bottom: 1rem;
  border-radius: 10px;
}

.list .card img{display:none;}

.list section{
  display:flex;
  justify-content: center;
  padding: 1rem;
}

.list .cards:nth-child(odd){
  background-color: rgba(229,227,213,255);
}

.list section:nth-child(even){
  background-color: rgb(209 206 181);
}

.list vl{
  border-left:1px solid grey;
}

.list .cards .card p, h3{margin-left:1rem; margin-right:1rem;}

.list .cards .card a{font-size:18px; margin: 1rem 1rem 1rem 1rem}



.newLink{text-align: center;}

.business{background-color: white;}

.business1{display:none;}