@media only screen and (min-width: 35rem){
  
  nav button{
    display: none;
  }

  nav ul#primaryNav{
    display: flex;
  }

  nav ul li a{
    border: none;
  }
  main{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  main section{
    height: 10rem;
  }
  .spotlight p{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100px;
    margin:3%;
    border: 5px solid rgb(186, 184, 172);
  }
  main .join{
    display:block;
  }
}