@media only screen and (min-width: 32.5em){
  nav{
    border-radius: 20px;
    display: flex;
  }
  footer{
    border-radius:20px;
  }
  .title-text{
    margin-right:20%;
  }
  .title-image{
    margin-left:20%;
  }
}